table
  tbody
    each row in cells
      tr
        each cell in row
          td.cell-wrapper(class=cell.attributes.classes)
            a.cell(id=cell.attributes.id)
              | #{cell.attributes.value}

