table
  tbody
    each row in cells
      tr
        each cell in row
          td.cell(class=cell.attributes.classes, id=cell.attributes.id)
            a
              if cell.attributes.value
                | #{cell.attributes.value}

