table
  tbody
    each row in cells
      tr
        each cell in row
          td.cell(class=cell.attributes.classes, id=cell.attributes.id)
            a
              if cell.attributes.value
                | #{cell.attributes.value}

table
  tbody
    tr.options
      td
        a
          |1
      td
        a
          |2
      td
        a
          |3
      td
        a
          |4
      td
        a
          |5
      td
        a
          |6
      td
        a
          |7
      td
        a
          |8
      td
        a
          |9



