.board

  table
    border-spacing: 0px

    td
      box-sizing: border-box
      text-align: center
      width: 30px
      height: 30px
      border-left: 1px #efefef solid
      border-top: 1px #efefef solid
      padding: 0px

      &.bl
        border-left: 2px black solid
      &.bt
        border-top: 2px black solid
      &.br
        border-right: 2px black solid
      &.bb
        border-bottom: 2px black solid

      &.fixed
        background-color: #efefef

      &.selected
        background-color: #D4F3D4

  button
    margin: 0px